@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap');

:root {
    font-size: 16px;

    // Variabiles
    --section-width: 1170px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    color: #FAFAFA;
    background-image: radial-gradient(hsla(0, 0%, 100%, .1) 1px, transparent 0);
    background-size: 2rem 2rem;
}

h1 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 3rem;
}